<div [formGroup]="personFormGroup">
  <p-tabs value="0" [scrollable]="true">
    <p-tablist>
      <p-tab value="0">Dados Básicos</p-tab>
      <p-tab value="1">Contato</p-tab>
      <p-tab value="2">Endereço</p-tab>
    </p-tablist>
    <p-tabpanel value="0">
      <div class="person-members formgrid grid">
        <div class="group-image col-12 md:col-12">
          <div class="image-container field col-12 md:col-3 c-margin">
            <app-image-upload
              [imageUrl]="urlImage"
              (eventLoading)="loading()"
              (eventImageToken)="onGetTokenImage($event)"
              [tokenImageUrl]="imageToken">
            </app-image-upload>
          </div>
          <div class="formgrid grid">
            <app-input-text
              formControlName="name"
              name="name"
              [field]="personFormGroup"
              class="field col-12 md:col-8 c-margin"
              [label]="translateService.translate('personal_field_name')"
              type="text">
            </app-input-text>
            <app-dropdown
              formControlName="status"
              name="status"
              [field]="personFormGroup"
              [label]="translateService.translate('personal_field_status')"
              [options]="_status"
              optionLabel="value"
              class="field col-12 md:col-4 c-margin">
            </app-dropdown>
            <app-dropdown
              formControlName="gender"
              name="gender"
              [field]="personFormGroup"
              [label]="translateService.translate('personal_field_gender')"
              [options]="_gender"
              optionLabel="value"
              class="field col-12 md:col-6 c-margin">
            </app-dropdown>
            <app-dropdown
              formControlName="maritalStatus"
              name="maritalStatus"
              [field]="personFormGroup"
              [label]="translateService.translate('personal_field_maritalStatus')"
              [options]="_maritalStatus"
              optionLabel="value"
              class="field col-12 md:col-6 c-margin">
            </app-dropdown>
            <app-auto-complete
              formControlName="nationality"
              name="nationality"
              [field]="personFormGroup"
              class="field col-12 md:col-6 c-margin"
              [label]="translateService.translate('personal_field_nationality')"
              route="country"
              optionLabel="name"
              type="text">
            </app-auto-complete>
            <app-input-text
              formControlName="birthplace"
              name="birthplace"
              [field]="personFormGroup"
              class="field col-12 md:col-6 c-margin"
              [label]="translateService.translate('personal_field_birthplace')"
              type="text">
            </app-input-text>
          </div>
        </div>
      </div>
      <div formGroupName="personalDocs" class="person-members formgrid grid">
        <app-input-mask
          formControlName="cpf"
          name="personalDocs.cpf"
          [field]="personFormGroup"
          class="field col-12 md:col-4 c-margin"
          [label]="translateService.translate('personal_field_cpf')"
          mask="999.999.999-99">
        </app-input-mask>
        <app-input-text
          formControlName="rg"
          name="personalDocs.rg"
          [field]="personFormGroup"
          class="field col-12 md:col-4 c-margin"
          [label]="translateService.translate('personal_field_rg')"
          type="text">
        </app-input-text>
        <app-input-date
          formControlName="birthDate"
          name="personalDocs.birthDate"
          [field]="personFormGroup"
          class="field col-12 md:col-4 c-margin"
          [label]="translateService.translate('personal_field_birthdate')"
          type="date">
        </app-input-date>
      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      <div formGroupName="personalTelphone" class="person-members formgrid grid">
        <app-input-mask
          formControlName="phone"
          name="personalTelphone.phone"
          [field]="personFormGroup"
          class="field col-12 md:col-6 c-margin"
          [label]="translateService.translate('personal_field_phone')"
          mask="(99) 9999-9999">
        </app-input-mask>
        <app-input-mask
          formControlName="cellPhone"
          name="personalTelphone.cellPhone"
          [field]="personFormGroup"
          class="field col-12 md:col-6 c-margin"
          [label]="translateService.translate('personal_field_personalPhone')"
          mask="(99) 9 9999-9999">
        </app-input-mask>
      </div>
      <div formGroupName="personalEmail"  class="person-members formgrid grid">
        <app-input-text
          formControlName="email"
          name="personalEmail.email"
          [field]="personFormGroup"
          class="field col-12 md:col-12 c-margin"
          [label]="translateService.translate('personal_field_email')"
          type="email">
        </app-input-text>
      </div>
    </p-tabpanel>
    <p-tabpanel value="2">
      <div formGroupName="personAddress" class="person-members formgrid grid">
        <app-input-mask
          formControlName="postalCode"
          name="personAddress.postalCode"
          [field]="personFormGroup"
          class="field col-12 md:col-3 c-margin"
          [label]="translateService.translate('personal_field_postalCode')"
          mask="99999-999">
        </app-input-mask>
        <app-input-text
          formControlName="address"
          name="personAddress.address"
          [field]="personFormGroup"
          class="field col-12 md:col-9 c-margin"
          [label]="translateService.translate('personal_field_address')"
          type="text">
        </app-input-text>
        <app-input-text
          formControlName="number"
          name="personAddress.number"
          [field]="personFormGroup"
          class="field col-12 md:col-4 c-margin"
          [label]="translateService.translate('personal_field_number')"
          type="text">
        </app-input-text>
        <app-input-text
          formControlName="neighborhood"
          name="personAddress.neighborhood"
          [field]="personFormGroup"
          class="field col-12 md:col-4 c-margin"
          [label]="translateService.translate('personal_field_neighborhood')"
          type="text">
        </app-input-text>
        <app-input-text
          formControlName="complement"
          name="personAddress.complement"
          [field]="personFormGroup"
          class="field col-12 md:col-4 c-margin"
          [label]="translateService.translate('personal_field_complement')"
          type="text">
        </app-input-text>
        <app-auto-complete
          formControlName="city"
          name="personAddress.city"
          [field]="personFormGroup"
          class="field col-12 md:col-12 c-margin"
          [label]="translateService.translate('personal_field_city')"
          route="city"
          optionLabel="name"
          type="text">
        </app-auto-complete>
      </div>
    </p-tabpanel>
  </p-tabs>
</div>
<div class="buttons">
  <div style="margin-right: 10px">
    <p-button [label]="translateService.translate('common_action_save')" (onClick)="onSave()"/>
  </div>
  <div >
    <p-button [label]="translateService.translate('common_action_cancel')" (onClick)="onCancel()"/>
  </div>
</div>
