
  $sidebar-width: 100px;
  $sidebar-expanded: 300px;
  $custom-primary-color: #333;
  $content-bg-color: #f4f4f4;

.sidebar{
  position: fixed;
  z-index: 1000;
  width: $sidebar-width;
  height: 100vh;
  display: flex;
  background-color: #EFF2FA;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .sidebar-internal{
    height: 100%;
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .side-header{
      height: 50px;
      color:  #428BFE;
      width: 100%;
      font-size: 25px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .side-body{
      height: calc(100% - 50px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

    }
  }
}
.content{
  width: calc(100% - $sidebar-width);
  margin-left: $sidebar-width;
  padding: 20px;
  height: 100%;
  background-color: #EFF2FA;
  transition: margin-left 0.3s ease;
  .cnt-header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .greeting-user{
      font-size: 25px;
    }
    .user-name{
      color:  #428BFE;
      font-size: 25px;
    }
  }
  .cnt-body{
    height: calc(100% - 100px);
    width: 100%;
  }
}

.side-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-item{
  height: 60px;
  width: 75%;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 9px;
  background: #ffffff;
  color: #B3B9BE;
  flex-direction: column;
}

.active{
  background: #E7F0FF;
  color: #428BFE;
}

@media (max-width: 600px){

  .sidebar{
    width: 100%;
    height: 70px;
    bottom: 0;
    .sidebar-internal{
      flex-direction: row;
      .side-header{
        display: none;
      }
      .side-body{
        flex-direction: row;
      }
    }
  }
  .content{
    height: 100%;
    width: 100vw;
    margin-left: 0;
  }

  .content.menu-expanded {
    margin-left: 0px;
  }
}
